<!-- linking to base.html -->
{% extends "base.html" %}
<!-- insert the form inside block -->
{% block content %}
    <!-- action: send data to 'login' page -->
    <!-- method:  -->
    <div class="container page-form">
        <form id="login-form" action="/auth/register" method="post">
            <!-- a div is a block that occupies full width (from left to right) -->
            <div class="form-group has-success has-feedback">
                <!-- name is used to associate this value with a
                specific field name -->
                <label class="control-label" for="email">Email: </label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" id="email" class="form-control" name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" id="password" class="form-control" name="password">
            </div>

            <!-- Inside the class parameter there are three classes:
                btn  btn-success  pull-left-->
            <button type="submit" class="btn btn-success pull-left">Sign up</button>
        </form>
    </div>
{% endblock %}