<!-- linking to base.html -->
{% extends "base.html" %}
<!-- insert the form inside block -->
{% block content %}
    <!-- action: send data to 'login' page -->
    <!-- method:  -->
    <form id="register-form" action="/auth/register" method="post">
        <!-- name is used to associate this value with a
        specific field name -->
        <input type="text" id="email" name="email">
        <input type="password" id="password" name="password">

        <input type="submit" id="submit-button">
    </form>
{% endblock %}